In [7]:
import pandas as pd
import numpy as np
import os 

#input for any file name
file_name=input("Enter File Name: ")
journey=input("Enter 'up' or 'down': ").lower()
file_path=os.path.join('week_data',journey, file_name)

if not os.path.isfile(file_path):
    print(f"Error: File '{file_name}' does not exist.")
else:
    df=pd.read_csv(file_path)

Enter File Name: 05-02-19.csv
Enter 'up' or 'down': up

In [8]:
#Only 519 buses
bus_no = int(input("Enter bus Number: "))
df = df[df['Schedule Name'].str.contains(rf'\b{bus_no}\b')]

Enter bus Number: 519

In [9]:
cols=['Schedule Name','Trip Start Time','Source','Destination']
df=df[cols]
df=df.drop_duplicates()

source_stage=input("Enter source: ")
destination_stage=input("Enter destination: ")
df=df[(df['Source']==source_stage) & (df['Destination']==destination_stage)]

df['Trip Start Time'] = pd.to_datetime(df['Trip Start Time'], format='%H:%M:%S')
df['Hour']=df['Trip Start Time'].dt.hour

cols=['Schedule Name','Hour']

bus_df=df.groupby('Hour')['Schedule Name'].count().reset_index()
bus_df.columns=['Hour','Bus Count']

def hour_range(hour):
    if hour==23:
        return f"{hour}-0"
    else:
        return f"{hour}-{hour+1}"
bus_df['Hour'] = bus_df['Hour'].apply(hour_range)
bus_df

Enter source: T.NAGAR
Enter destination: THIRUPORUR

     Hour  Bus Count
0     0-1          5
1     1-2          1
2     4-5          1
3     5-6          6
4     6-7          7
5     7-8          3
6     8-9          8
7    9-10          4
8   10-11          7
9   11-12          3
10  12-13          7
11  13-14          9
12  14-15          4
13  15-16          6
14  16-17          5
15  17-18          7
16  18-19          3
17  19-20          3
18  20-21          1
19  21-22          4
20  22-23          2